[Unit]
Description = Todo Service
[Service]
User=root
Environment=REDIS_HOST=172.31.9.149
Environment=REDIS_PORT=6379
Environment=USERS_API_ADDRESS=http://users.gvdevops.online:8080
WorkingDirectory=/root/todo1
ExecStart=nodemon server.js
SyslogIdentifier=todo1

[Install]
WantedBy=multi-user.target
