[Unit]
Description = Users Service
[Service]
User=root
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
ExecStart=java -jar /root/users/users.jar
SyslogIdentifier=users

[Install]
WantedBy=multi-users.target