[Unit]
Description = Users Service
[Service]
User=root
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
ExecStart=java -jar /root/users/target/users-api-0.0.1.jar
SyslogIdentifier=users

[Install]
WantedBy=multi-user.target