[Unit]
Description = Login1 Service
[Service]
User=root
Environment=GOROOT=/usr/bin/go
Environment=PATH=$PATH:$GOROOT/bin
Environment=GOPATH=/root/login1
Environment=USERS_API_ADDRESS=http://172.31.11.18:8080
Environment=AUTH_API_PORT=8080
ExecStart=/usr/bin/go run /root/login1/main.go /root/login1/user.go /root/login1/tracing.go
SyslogIdentifier=login1

[Install]
WantedBy=multi-user.target